button {
    appearance: none;
    outline: none;
    padding: 1em 1.5em;
    border: none;
    border: 1px solid grey;
    font-size: inherit;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.1s ease;
    &:hover {
        transform: scale(1.1);
    }
    &:hover,
    &:focus {
        color: orange;
        border: 1px solid currentColor;
    }
}
