button {
    appearance: none;
    outline: none;
    padding: 1em 1.5em;
    border: none;
    border: 1px solid grey;
    font-size: inherit;
    border-radius: 4px;
}

turd button {
    margin: 1em;
}
