turd button {
    margin: 1em;
}

@keyframes spin {
    0% {
        transform: rotateY(0deg) rotateX(0deg) perspective(2em);
    }
    25% { transform: rotateY(90deg) rotateX(15deg) perspective(2em); }
    50% {
        transform: rotateY(180deg) rotateX(30deg) perspective(2em);
    }
    75% { transform: rotateY(270deg) rotateX(15deg) perspective(2em); }
    100% {
        transform: rotateY(360deg) rotateX(0deg) perspective(2em);
    }
}

#you-are-a-turd {
    display: block;
    margin: 1em;
    animation: spin 3s linear 1s infinite;
}
